@import url("https://fonts.googleapis.com/css2?family=Michroma:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap");

.App {
  font-family: "Sono", sans-serif;
}

body {
  overflow: hidden;
}



#tsparticles {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#titleSection{
  padding: 25vh;
  height: 100vh;
}

#titleCard {
  color: rgb(255, 255, 255);
  font-size: 5vw;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  text-shadow: 0px 15px 5px rgba(255, 255, 255, 0.1),
    10px 20px 5px rgba(255, 255, 255, 0.05),
    -10px 20px 5px rgba(255, 255, 255, 0.05);
}


h2 {
  color: #fff;
  font-size: 2vw;
  font-family: "Sono", sans-serif;
  font-weight: 400;
}

#typewriter {
  font-family: "Sono", sans-serif;
  color: #fff;
  font-weight: 400;
  
}


/* section 2 */

#profileSection {
  margin-top: 30vh;

  height: 100vh;
  color: #fff;
  font-family: "Sono", sans-serif;
  font-weight: 400;

  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(900, 0)'%3E%3Cpath d='M0 351.5C-43.6 337.6 -87.2 323.6 -126.3 304.9C-165.3 286.2 -199.8 262.7 -234.8 234.8C-269.7 206.8 -305.2 174.4 -324.8 134.5C-344.3 94.7 -347.9 47.3 -351.5 0L0 0Z' fill='%23292929'/%3E%3Cpath d='M0 263.7C-32.7 253.2 -65.4 242.7 -94.7 228.7C-124 214.6 -149.8 197 -176.1 176.1C-202.3 155.1 -228.9 130.8 -243.6 100.9C-258.2 71 -261 35.5 -263.7 0L0 0Z' fill='%23767676'/%3E%3Cpath d='M0 175.8C-21.8 168.8 -43.6 161.8 -63.1 152.4C-82.7 143.1 -99.9 131.3 -117.4 117.4C-134.9 103.4 -152.6 87.2 -162.4 67.3C-172.2 47.3 -174 23.7 -175.8 0L0 0Z' fill='%23cdcdcd'/%3E%3Cpath d='M0 87.9C-10.9 84.4 -21.8 80.9 -31.6 76.2C-41.3 71.5 -49.9 65.7 -58.7 58.7C-67.4 51.7 -76.3 43.6 -81.2 33.6C-86.1 23.7 -87 11.8 -87.9 0L0 0Z' fill='%23fcfcfc'/%3E%3C/g%3E%3Cg transform='translate(0, 600)'%3E%3Cpath d='M0 -351.5C55.6 -356.5 111.2 -361.5 134.5 -324.8C157.8 -288.1 148.8 -209.7 173.2 -173.2C197.7 -136.8 255.7 -142.4 291 -120.5C326.3 -98.7 338.9 -49.3 351.5 0L0 0Z' fill='%23292929'/%3E%3Cpath d='M0 -263.7C41.7 -267.4 83.4 -271.1 100.9 -243.6C118.4 -216 111.6 -157.2 129.9 -129.9C148.3 -102.6 191.8 -106.8 218.3 -90.4C244.7 -74 254.2 -37 263.7 0L0 0Z' fill='%23767676'/%3E%3Cpath d='M0 -175.8C27.8 -178.3 55.6 -180.7 67.3 -162.4C78.9 -144 74.4 -104.8 86.6 -86.6C98.9 -68.4 127.9 -71.2 145.5 -60.3C163.2 -49.3 169.5 -24.7 175.8 0L0 0Z' fill='%23cdcdcd'/%3E%3Cpath d='M0 -87.9C13.9 -89.1 27.8 -90.4 33.6 -81.2C39.5 -72 37.2 -52.4 43.3 -43.3C49.4 -34.2 63.9 -35.6 72.8 -30.1C81.6 -24.7 84.7 -12.3 87.9 0L0 0Z' fill='%23fcfcfc'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#title {
  font-size: 3.5em;
  font-weight: 400;
  margin-top: 46vh;
  margin-left: 10vw;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  padding-right: 4vw;
}

#cardSection {
  padding-top: 5vh;
}



.skillSection{
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

.skills{
  align-self: center;
  align-items: center;
  justify-content: center;

  margin: 1vh;
  height: 8vh;
  width: auto;


  border-radius: 3vh;
  color: #000;
  font-size: 1.5vw;

}

.skill{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 1vh;
  height: 8vh;
  width: auto;
  
  font-size: 1.5vw;
}

.icons{
  height: 4vh;
  width: auto;
  margin: 1vh;
}


#creditSection{
  height: 100vh;

  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
    background-image: url("data:image/svg+xml,%3csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3e%3cpath d='M0 296L21.5 299.7C43 303.3 86 310.7 128.8 300.2C171.7 289.7 214.3 261.3 257.2 256.7C300 252 343 271 385.8 272.5C428.7 274 471.3 258 514.2 266.2C557 274.3 600 306.7 642.8 320.2C685.7 333.7 728.3 328.3 771.2 319.3C814 310.3 857 297.7 878.5 291.3L900 285L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%231e1e1e'%3e%3c/path%3e%3cpath d='M0 296L21.5 311.3C43 326.7 86 357.3 128.8 349.8C171.7 342.3 214.3 296.7 257.2 291.5C300 286.3 343 321.7 385.8 347C428.7 372.3 471.3 387.7 514.2 371C557 354.3 600 305.7 642.8 301C685.7 296.3 728.3 335.7 771.2 357.5C814 379.3 857 383.7 878.5 385.8L900 388L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%232f2f2f'%3e%3c/path%3e%3cpath d='M0 409L21.5 394.5C43 380 86 351 128.8 350.3C171.7 349.7 214.3 377.3 257.2 380.5C300 383.7 343 362.3 385.8 341.7C428.7 321 471.3 301 514.2 312.3C557 323.7 600 366.3 642.8 374C685.7 381.7 728.3 354.3 771.2 345C814 335.7 857 344.3 878.5 348.7L900 353L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%23414141'%3e%3c/path%3e%3cpath d='M0 302L21.5 303.8C43 305.7 86 309.3 128.8 325C171.7 340.7 214.3 368.3 257.2 373.2C300 378 343 360 385.8 356C428.7 352 471.3 362 514.2 355.3C557 348.7 600 325.3 642.8 323.8C685.7 322.3 728.3 342.7 771.2 357.7C814 372.7 857 382.3 878.5 387.2L900 392L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%23535353'%3e%3c/path%3e%3cpath d='M0 424L21.5 428.7C43 433.3 86 442.7 128.8 431.5C171.7 420.3 214.3 388.7 257.2 381.2C300 373.7 343 390.3 385.8 387.2C428.7 384 471.3 361 514.2 362.3C557 363.7 600 389.3 642.8 391.3C685.7 393.3 728.3 371.7 771.2 367.2C814 362.7 857 375.3 878.5 381.7L900 388L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%23676767'%3e%3c/path%3e%3cpath d='M0 465L21.5 462.5C43 460 86 455 128.8 439C171.7 423 214.3 396 257.2 393.3C300 390.7 343 412.3 385.8 413.2C428.7 414 471.3 394 514.2 398.5C557 403 600 432 642.8 434.8C685.7 437.7 728.3 414.3 771.2 409.2C814 404 857 417 878.5 423.5L900 430L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%237b7b7b'%3e%3c/path%3e%3cpath d='M0 466L21.5 453.5C43 441 86 416 128.8 418.5C171.7 421 214.3 451 257.2 463.5C300 476 343 471 385.8 462C428.7 453 471.3 440 514.2 430.5C557 421 600 415 642.8 424.3C685.7 433.7 728.3 458.3 771.2 463.7C814 469 857 455 878.5 448L900 441L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%238f8f8f'%3e%3c/path%3e%3cpath d='M0 424L21.5 433.5C43 443 86 462 128.8 472.7C171.7 483.3 214.3 485.7 257.2 482.7C300 479.7 343 471.3 385.8 469.2C428.7 467 471.3 471 514.2 464.7C557 458.3 600 441.7 642.8 437.7C685.7 433.7 728.3 442.3 771.2 452.3C814 462.3 857 473.7 878.5 479.3L900 485L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%23a5a5a5'%3e%3c/path%3e%3cpath d='M0 495L21.5 496.3C43 497.7 86 500.3 128.8 497.7C171.7 495 214.3 487 257.2 482C300 477 343 475 385.8 474.5C428.7 474 471.3 475 514.2 481.8C557 488.7 600 501.3 642.8 497.7C685.7 494 728.3 474 771.2 471.7C814 469.3 857 484.7 878.5 492.3L900 500L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%23bbbbbb'%3e%3c/path%3e%3cpath d='M0 501L21.5 505C43 509 86 517 128.8 516.5C171.7 516 214.3 507 257.2 508.5C300 510 343 522 385.8 519.5C428.7 517 471.3 500 514.2 493.8C557 487.7 600 492.3 642.8 494.3C685.7 496.3 728.3 495.7 771.2 497.5C814 499.3 857 503.7 878.5 505.8L900 508L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%23d1d1d1'%3e%3c/path%3e%3cpath d='M0 526L21.5 523.5C43 521 86 516 128.8 515.8C171.7 515.7 214.3 520.3 257.2 521C300 521.7 343 518.3 385.8 520.3C428.7 522.3 471.3 529.7 514.2 528.7C557 527.7 600 518.3 642.8 519.7C685.7 521 728.3 533 771.2 537.7C814 542.3 857 539.7 878.5 538.3L900 537L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%23e8e8e8'%3e%3c/path%3e%3cpath d='M0 559L21.5 557.5C43 556 86 553 128.8 550.8C171.7 548.7 214.3 547.3 257.2 550C300 552.7 343 559.3 385.8 559.3C428.7 559.3 471.3 552.7 514.2 549.8C557 547 600 548 642.8 549.7C685.7 551.3 728.3 553.7 771.2 553.7C814 553.7 857 551.3 878.5 550.2L900 549L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='white'%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  
}

#thanks{
  align-self: center;
}


