@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
.cards {
  display: flex;
  flex-direction: row;

  height: 30vh;
  margin-top:20px ;
  margin-bottom: 20vh;
  padding-left: 2vw;
  margin-right: 50px;
}

.card {
  height: 45vh;
  width: 20vw;

  background-color: #000000b7;
  cursor: pointer;
  position: relative;
  color: #effffd;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  padding: 10px;
  margin-left: 50px;
}

.card:hover {
  background-color: #000000;
  color: #fcfbfc;
  border-width: 1em;
  border-color: #fcfbfc;
  transition: 0.5s;
  animation: cardHover 2s ease-out 0s 1 forwards;
}

@keyframes cardHover {
  0% {
    transform: scale(1);
    z-index: 0;
  }
  100% {
    transform: scale(1.1);
    z-index: 0;
  }
}

h2 {
  font-size: 2.5vw;
}

.cardleft {
  float: left;
}
.cardright {
  float: left;
  margin-left: 10px;
  margin-top: 10vh;
}

p {
  font-size: 1vw;
  line-height: 1.2vw;
  padding: 10px;
}

#linkButton {
  background-color: #fcfbfc;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  width: 5vw;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 1;
}
