

.card{
    padding: 1em;
    background: rgba(5, 5, 5, 0.849);
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 25vw;
    height: 45vh;
    place-self: center;
}

button{
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1vw;
    font-family: "Sono", sans-serif;
    z-index: 1;
    
}

